:root {
  font-family: sans-serif;
  --cell-width-height: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/bg.png);
}

.game-container {
  width: calc(var(--cell-width-height) * 10 * 2.5);
  height: calc(var(--cell-width-height) * 10 * 1.3);
  background-color: rgb(78, 78, 78);
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.player-one-board,
.player-two-board {
  width: calc(var(--cell-width-height) * 10);
  height: calc(var(--cell-width-height) * 10);
  box-sizing: content-box;
  border-left: 1px solid rgb(212, 212, 212);
  border-top: 1px solid rgb(212, 212, 212);
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.player-one-board > div,
.player-two-board > div {
  width: var(--cell-width-height);
  height: var(--cell-width-height);
  border: 1px solid rgb(212, 212, 212);
  border-left: 0;
  border-top: 0;
}

.player-one-board > .board-numbers,
.player-two-board > .board-numbers {
  position: absolute;
  display: flex;
  justify-content: center;
  width: calc(var(--cell-width-height) * 10);
  top: -28px;
  border: none;
}

.player-one-board > .board-letters,
.player-two-board > .board-letters {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--cell-width-height) * 10);
  left: -35px;
  border: none;
}

.board-numbers > span,
.board-letters > span {
  width: var(--cell-width-height);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.board-letters > span {
  height: var(--cell-width-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.miss::after {
  display: flex;
  margin-top: 2px;
  justify-content: center;
  content: url(./assets/crossmark.svg);
  opacity: 0.9;
}

[class^="ship"] {
  display: grid;
  position: relative;
  align-items: center;
}

/* HORIZONTAL ship SETUP */
.ship-start-h::before {
  position: absolute;
  width: calc(100% - 9px);
  height: 75%;
  justify-self: end;
  content: "";
  background-color: rgba(19, 19, 19, 0.87);
  border: 2px solid rgb(51, 51, 51);
  border-right: 0;
  border-radius: 50% 0 0 50%;
}

.ship-start-h.hit::after {
  justify-self: end;
  z-index: 1;
  content: url(./assets/fire.svg);
}

.ship-mid-h.hit::after {
  justify-self: end;
  margin: auto;
  z-index: 1;
  content: url(./assets/fire.svg);
}

.ship-end-h.hit::after {
  justify-self: start;
  z-index: 1;
  content: url(./assets/fire.svg);
}

.ship-mid-h::before {
  content: "";
  position: absolute;
  width: calc(100% + 1px);
  height: 75%;
  align-self: center;
  margin: -1px;
  background-color: rgb(19, 19, 19, 0.87);
  border: 2px solid rgb(51, 51, 51);
  border-right: 0;
  border-left: 0;
}

.ship-end-h::before {
  content: "";
  width: calc(100% - 9px);
  position: absolute;
  align-self: center;
  margin: -1px;
  height: 75%;
  background-color: rgb(19, 19, 19, 0.87);
  border-radius: 0 75% 75% 0;
  border: 2px solid rgb(51, 51, 51);
  border-left: 0;
}

.player-two-board [class^="ship"]::before {
  display: none;
}

.player-two-board [class^="ship"]::after {
  display: flex;
  justify-self: center;
}
