@font-face {
  font-family: "versa";
  src: url("./assets/fonts/Versa-Versa.woff") format("woff");
  src: url("./assets/fonts/Versa-Versa.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: sans-serif;
  --cell-width-height: 40px;
  --ship-border: 1px solid #97a5c4bd;
  --ship-clr: #272729d5;
  --cell-border: #1b8bd669;
}

h1 {
  top: 50px;
  text-shadow:
    2px 2px 0px rgba(0, 34, 73, 0.205),
    5px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  user-select: none;
  justify-content: center;
  font-family: "versa", sans-serif;
  font-size: 6rem;
  letter-spacing: -1px;
  background: linear-gradient(#ffffff, var(--cell-border));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1::before {
  position: absolute;
  z-index: -1;
  content: "BATTLESHIP";
  background: rgba(0, 0, 0, 0.842);
  background-clip: inherit;
  filter: blur(6px) opacity(0.6) brightness(5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/bg.png);
}

.game-container {
  width: calc(var(--cell-width-height) * 10 * 2.5 + 10px);
  height: calc(var(--cell-width-height) * 10 * 1.2 + 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  background-color: #ffffff46;
  border: 1px solid rgba(255, 255, 255, 0.521);
  box-shadow: rgba(168, 168, 168, 0.35) 0px 5px 15px;
}

.game-container::before {
  position: absolute;
  content: "";
  margin: -45px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: calc(var(--cell-width-height) * 10 * 2.5);
  height: calc(var(--cell-width-height) * 10 * 1.2);
  background-color: #181a1b;
  /* Photo by Lucas Andrade: https://www.pexels.com/photo/a-close-up-of-the-ocean-water-28203242/ */
  background-image: url("./assets/water-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(1.2) saturate(0);
}

.game-container > div:first-of-type,
.game-container > div:last-of-type {
  width: calc(var(--cell-width-height) * 10);
  height: calc(var(--cell-width-height) * 10);
  box-sizing: content-box;
  border-left: 1px solid var(--cell-border);
  border-top: 1px solid var(--cell-border);
  display: flex;
  flex-flow: row wrap;
  position: relative;
  /* From https://css.glass */
  background: rgba(17, 17, 17, 0.753);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
}

.game-container > div:first-of-type > div,
.game-container > div:last-of-type > div {
  width: var(--cell-width-height);
  height: var(--cell-width-height);
  border: 1px solid var(--cell-border);
  border-left: 0;
  border-top: 0;
}

.game-container > div:last-of-type [class^="ship"]::before {
  display: none;
}

.game-container > div:last-of-type [class^="ship"]::after {
  display: flex;
  justify-self: center;
}

.miss::after {
  display: flex;
  margin-top: 2px;
  justify-content: center;
  content: url(./assets/splash.svg);
  opacity: 0.9;
}

[class^="ship"] {
  display: grid;
  position: relative;
  align-items: center;
}

.game-container div:last-of-type div[data-cell]:hover {
  background-color: rgba(71, 71, 71, 0.493);
  background-image: url(./assets/target.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body .game-container div:last-of-type .clicked:hover {
  background-color: transparent;
  color: rgb(252, 129, 108);
  background-image: none;
}

.game-container > div:last-of-type .hit::after {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  content: url(./assets/fire.svg);
}

/* Ship setup */
.ship-start-h::before,
.ship-start-v::before {
  position: absolute;
  width: calc(100% - 9px);
  height: 75%;
  justify-self: end;
  content: "";
  background-color: var(--ship-clr);
  border: var(--ship-border);
}

.ship-mid-h::before,
.ship-mid-v::before {
  content: "";
  position: absolute;
  align-self: center;
  margin: -1px;
  background-color: var(--ship-clr);
  border: var(--ship-border);
}

.ship-end-h::before,
.ship-end-v::before {
  content: "";
  width: calc(100% - 9px);
  position: absolute;
  align-self: center;
  margin: -1px;
  height: 75%;
  background-color: var(--ship-clr);
  border: var(--ship-border);
}

/* HORIZONTAL ship SETUP */
.ship-start-h::before {
  border-right: 0;
  border-radius: 50% 0 0 50%;
}

.ship-mid-h::before {
  width: calc(100% + 1px);
  height: 75%;
  border-right: 0;
  border-left: 0;
}

.ship-end-h::before {
  border-radius: 0 75% 75% 0;
  border-left: 0;
}

.ship-start-h.hit::after,
.ship-start-v.hit::after {
  justify-self: end;
  z-index: 1;
  content: url(./assets/fire.svg);
}

.ship-mid-h.hit::after,
.ship-mid-v.hit::after {
  justify-self: end;
  margin: auto;
  z-index: 1;
  content: url(./assets/fire.svg);
}

.ship-end-h.hit::after,
.ship-end-v.hit::after {
  justify-self: start;
  z-index: 1;
  content: url(./assets/fire.svg);
}

/* VERTICAL ship SETUP */
.ship-start-v::before {
  justify-self: center;
  margin: -1px;
  align-self: end;
  border-radius: 50% 50% 0 0;
  border-bottom: 0;
}

.ship-mid-v::before {
  height: calc(100% + 1px);
  width: 75%;
  border-top: 0;
  border-bottom: 0;
  justify-self: center;
}

.ship-end-v::before {
  justify-self: center;
  align-self: start;
  margin-top: 0.3px;
  border-radius: 0 0 50% 50%;
  border-top: 0;
}

.ship-start-v.hit::after {
  justify-self: center;
  align-self: end;
}

.ship-end-v.hit::after {
  justify-self: center;
  align-self: start;
}

dialog {
  position: absolute;
  margin: auto;
  padding: 35px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.winner-name {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.modal > button {
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  padding: 5px 12px;
  background: var(--cell-border);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px 20px;
  border: 2px solid rgba(105, 194, 213, 0.493);
}
.modal > button:hover {
  cursor: pointer;
  background: rgba(65, 210, 242, 0.774);
}

.modal > button:focus {
  outline: none;
}

.start-modal button:first-of-type {
  border-radius: 20px 10px;
  width: 100%;
}
