:root {
  font-family: sans-serif;
  --cell-width-height: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/bg.png);
}

.game-container {
  width: calc(var(--cell-width-height) * 10 * 2.5);
  height: calc(var(--cell-width-height) * 10 * 1.3);
  background-color: rgb(78, 78, 78);
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.game-container > div:first-of-type,
.game-container > div:last-of-type {
  width: calc(var(--cell-width-height) * 10);
  height: calc(var(--cell-width-height) * 10);
  box-sizing: content-box;
  border-left: 1px solid rgb(212, 212, 212);
  border-top: 1px solid rgb(212, 212, 212);
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.game-container > div:first-of-type > div,
.game-container > div:last-of-type > div {
  width: var(--cell-width-height);
  height: var(--cell-width-height);
  border: 1px solid rgb(212, 212, 212);
  border-left: 0;
  border-top: 0;
}

.game-container > div:first-of-type > .board-numbers,
.game-container > div:last-of-type > .board-numbers {
  position: absolute;
  display: flex;
  justify-content: center;
  width: calc(var(--cell-width-height) * 10);
  top: -28px;
  border: none;
}

.game-container > div:first-of-type > .board-letters,
.game-container > div:last-of-type > .board-letters {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--cell-width-height) * 10);
  left: -35px;
  border: none;
}

.game-container > div:last-of-type [class^="ship"]::before {
  display: none;
}

.game-container > div:last-of-type [class^="ship"]::after {
  display: flex;
  justify-self: center;
}

.board-numbers > span,
.board-letters > span {
  width: var(--cell-width-height);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.board-letters > span {
  height: var(--cell-width-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.miss::after {
  display: flex;
  margin-top: 2px;
  justify-content: center;
  content: url(./assets/crossmark.svg);
  opacity: 0.9;
}

[class^="ship"] {
  display: grid;
  position: relative;
  align-items: center;
}

div[data-cell]:hover {
  background-color: rgb(141, 141, 141);
}

.game-container .clicked:hover {
  background-color: inherit;
}

.game-container > div:last-of-type .hit::after {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  content: url(./assets/fire.svg);
}

/* Ship setup */
.ship-start-h::before,
.ship-start-v::before {
  position: absolute;
  width: calc(100% - 9px);
  height: 75%;
  justify-self: end;
  content: "";
  background-color: rgba(19, 19, 19, 0.87);
  border: 2px solid rgb(51, 51, 51);
}

.ship-mid-h::before,
.ship-mid-v::before {
  content: "";
  position: absolute;
  align-self: center;
  margin: -1px;
  background-color: rgb(19, 19, 19, 0.87);
  border: 2px solid rgb(51, 51, 51);
}

.ship-end-h::before,
.ship-end-v::before {
  content: "";
  width: calc(100% - 9px);
  position: absolute;
  align-self: center;
  margin: -1px;
  height: 75%;
  background-color: rgb(19, 19, 19, 0.87);
  border: 2px solid rgb(51, 51, 51);
}

/* HORIZONTAL ship SETUP */
.ship-start-h::before {
  border-right: 0;
  border-radius: 50% 0 0 50%;
}

.ship-mid-h::before {
  width: calc(100% + 1px);
  height: 75%;
  border-right: 0;
  border-left: 0;
}

.ship-end-h::before {
  border-radius: 0 75% 75% 0;
  border-left: 0;
}

.ship-start-h.hit::after,
.ship-start-v.hit::after {
  justify-self: end;
  z-index: 1;
  content: url(./assets/fire.svg);
}

.ship-mid-h.hit::after,
.ship-mid-v.hit::after {
  justify-self: end;
  margin: auto;
  z-index: 1;
  content: url(./assets/fire.svg);
}

.ship-end-h.hit::after,
.ship-end-v.hit::after {
  justify-self: start;
  z-index: 1;
  content: url(./assets/fire.svg);
}

/* VERTICAL ship SETUP */
.ship-start-v::before {
  justify-self: center;
  align-self: end;
  border-radius: 50% 50% 0 0;
  border-bottom: 0;
}

.ship-mid-v::before {
  height: calc(100% + 1px);
  width: 75%;
  border-top: 0;
  border-bottom: 0;
  justify-self: center;
}

.ship-end-v::before {
  justify-self: center;
  align-self: start;
  border-radius: 0 0 50% 50%;
  border-top: 0;
}

.ship-start-v.hit::after {
  justify-self: center;
  align-self: end;
}

.ship-end-v.hit::after {
  justify-self: center;
  align-self: start;
}

dialog {
  position: absolute;
  margin: auto;
  padding: 35px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.winner-name {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.modal > button {
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  padding: 5px 12px;
  background: rgba(135, 190, 71, 0.774);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px 20px;
  border: 2px solid rgba(144, 221, 57, 0.493);
}
.modal > button:hover {
  cursor: pointer;
  background: rgba(159, 255, 50, 0.774);
}

.modal > button:focus {
  outline: none;
}

.start-modal button:first-of-type {
  border-radius: 20px 10px;
  width: 100%;
}
